.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  margin: 10px 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-error{
  color: #f00;
}

.App-request-result{
  color: #000;
}

.Page-container {
  margin: 10px 10px;
}

.Component-container{
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 500px;
  padding: 10px 10px 10px 15px;
  margin: 15px 10px 15px 0;
}

.item{
  padding: 10px 0;
}

